body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(206, 223, 226);
}

.main-title {
  text-align: center;
  color: white;
  background: url(//i.imgur.com/lW9YH6N.png);
  background-size: cover;
}

a {
  color: #07445d;
}


.title {
  color: rgb(12, 76, 110);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #f2f2f2;
}

th {
  padding: 12px;
  text-align: left;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th:first-child {
  background-color: #4CAF50;
  color: white;
}

th:last-child, td:last-child {
  text-align: center;
}

.header{
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
}


h4 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.flight-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

input {
  width: 250px;
  padding: 6px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.airline {
  text-align: center;
}

.airport {
  text-align: center;
}

.flightNo {
  text-align: center;
}

.number {
  text-align: center;
}