<%- include('../partials/header') %>

<h4 class="airport">Available Airlines: American | Southwest| United</h4>
<h4 class="airline">Available Airports: AUS | DFW | LAX | SAN</h4>
<h4 class="flightNo">Available Flight Numbers: 10-9999</h4>


<div class="flight-form">
  <form action="/flights" method="POST">
    <label>Airline:
      <input type="text" name="airline">
    </label><br>
    <label>Airport:
      <input type="text" name="airport">
    </label><br>
    <label>Flight No:
      <input type="text" name="flightNo">
    </label><br>
    <button type="submit">Add Flight</button>
  </form>
</div>
  <p>
    <%= errorMsg %>
  </p>
  <%- include('../partials/footer') %>